@import url('https://fonts.googleapis.com/css?family=Monoton');

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
    height: 60%;
    width: 80%;
    margin-left: 10%;
    border-radius: 12px 12px 12px 12px;
    border: 5px double black;
}

#output {
    font-size: 11px;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#header {
    height: 8%;
    position: relative;

}

h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 28pt;
    word-spacing: .4em;
    font-weight: 420;
    text-shadow: 1px 1px 1px gray;
}

#elements {
    width: 20%;
    margin-right: 20px;
}

#hiddenCalcDistance {
    display: none;
}

.controls {
    margin-bottom: 15px;
    margin-top: 10px;
    border: 6px double white;
    border-radius: 12px 12px 12px 12px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 54px;
    outline: none;
    background: transparent;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#origin-input,
#destination-input {
    background-color: black;
    color: white;
    font-family: Monoton;
    font-size: 9pt;
    word-spacing: .4em;
    font-weight: 220;
    margin-left: 5%;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 90%;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
}

#origin-input:focus,
#destination-input:focus {
    border-color: #4d90fe;
}

#mode-selector {
    display: none;
    color: #fff;
    background-color: #4d90fe;
    margin-left: 12px;
    padding: 5px 11px 0px 11px;
}

#btnLogout {
    cursor: pointer;
}

#dist {
    display: none;
}

#dura {
    display: none;
}

.btn-xl {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    font-family: Monoton;
    font-size: 14pt;
    word-spacing: .4em;
    font-weight: 220;
    margin-top: -2.5rem;
}