/* sets body height and background color */
body {
 height: 1000px;
 background-color: white;
}

/* sets layout for contents and background color */
#contents{
  background-color: #e8f6e8;
  width: 100%;
  height: 100%;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, .5);
  position: relative;
}

/* centers anchor elements */
  a{
    margin: 0 auto;
  }

  /* reduces opacity of buttons when hovered */
  a:hover{
    opacity: .7;
  }

  /* styles the labels of the links */
  a p {
    margin-top: -5%;
    font-size: 20pt;
    font-weight: 600;
    color: #33a852;
  }

  /* centers and sizes images */
  #picFAQ {
    width: 520px;
    max-width: 100%;
    margin: 0 auto;
  }

  /* sets layout of the div holding buttons to flex */
  .buttonDivs{
    display: flex;
  }

  /* changes image width when media pixel with is > 1020px */
  @media (max-width: 1020px){
    #picFAQ {
      width: 400px;
    }
  }

  /* changes image width when media pixel with is > 720px */
  @media (max-width: 720px){
    #picFAQ {
      width: 300px;
    }
  }



