@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Dosis');

.contain1,
.contain2 {
    margin: 2% 10%;
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
}

.reenter{
    margin: 10px;
    font-size: 25px;
    background-color: white;
}

.background-image {
    background-image: url(../images/listbg2.JPG);
    background-repeat: repeat-x;
    background-position: center;
    background-size: contain;
    height: 60vh;
}

.background-color {
    text-align: center;
    height: 70%;
    background-color: white;
    opacity: 0.6;
    box-shadow: 3px 3px 15px rgb(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

#start,
#finish {
    padding: 15px 15px;
    margin-left: 10px;
    color: black;
    background-color: white;
    border: solid 1px grey;
    border-radius: 3px;
}

.listOpt p {
    text-align: center;
    font-size: 20px;
}

#list {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-gap: 10%;
}

#list div {
    background-color: white;
    border: 7px solid whitesmoke;
}

.listOpt {
    padding: 10px;
}

.listOpt p img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
}

.listOpt p button {
    width: 100%;
    height: 30px;
}

.listOpt {
    display: flex;
    border-radius: 20px;
    justify-content: space-evenly;
}

@media (max-width: 850px) {
    #list {
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 10px;
    }

    .contain1 {
        display: flex;
        flex-direction: column;
    }
}