@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Dosis');

.contain1,
.contain2 {
    margin: 2% 10%;
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
}

.contain1 {
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

#start,
#finish {
    padding: 2px 15px;
    margin-left: 10px;
    color: black;
    height: 3em;

    background-color: cornsilk;
    border: solid 1px grey;
    border-radius: 3px;
}

.listOpt p {
    text-align: center;
    font-size: 20px;
}

#list {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-gap: 10%;
}

#list div {
    background-color: white;
    border: 7px solid whitesmoke;
}

.listOpt {
    padding: 10px;
}

.listOpt p img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
}

.listOpt p button {
    width: 100%;
    height: 30px;
}

.listOpt {
    display: flex;
    border-radius: 20px;
    justify-content: space-evenly;
}

.reenter{
    margin: 10px;
    font-size: 25px;
    background-color: white;
}

@media (max-width: 850px) {
    #list {
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 10px;
    }

    .contain1 {
        display: flex;
        flex-direction: column;
    }
}