@import url('https://fonts.googleapis.com/css?family=Monoton');

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
    height: 60%;
    width: 1000px;
    max-width: 80%;
    margin: 0 auto;
    border-radius: 12px 12px 12px 12px;
    border: 5px double grey;
}

/* sets font size of the output */
#output {
    font-size: 11px;
}

/* Makes the page fill the window. */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #e8f6e8;
}

/* sets header height and position */
#header {
    height: 8%;
    position: relative;
}

/* sets the layout and style of the header text */
h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family: 'Monoton', cursive;
    font-size: 22pt;
    letter-spacing: .1em;
    word-spacing: .4em;
    text-decoration: wavy;
    font-weight: 420;
    text-shadow: 1px 1px 1px gray;
    color: #FEC10B;
}

/* sets width and margin of the elements */
#elements {
    width: 20%;
    margin-right: 20px;
}

/* makes sure the distance calculation result is hidden */
#hiddenCalcDistance {
    display: none;
}

/* sets the style and layout of the controls of the map */
.controls {
    margin-bottom: 15px;
    margin-top: 10px;
    border: 6px double white;
    border-radius: 12px 12px 12px 12px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 54px;
    outline: none;
    background: transparent;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

/* sets the layout and style of the location inputs used with the map */
#origin-input,
#destination-input {
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    word-spacing: .4em;
    font-weight: 220;
    margin-left: 5%;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 90%;
    border: 3px solid rgb(206, 206, 206);
}

/* sets placeholder color to grey */
::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: grey;
    opacity: 1;
    /* Firefox */
}

/* sets placeholder color to grey */
:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: grey;
}

/* sets placeholder color to grey */
::-ms-input-placeholder {
    /* Microsoft Edge */
    color: grey;
}

/* changes the border color of the location inputs when focused */
#origin-input:focus,
#destination-input:focus {
    border-color: #33a852;
}

/* sets style of mode selector (walk, car, transit).  Currently display is set to none */
#mode-selector {
    display: none;
    color: #fff;
    background-color: #33a852;
    margin-left: 12px;
    padding: 5px 11px 0px 11px;
}

/* sets cursor to pointer for logout button*/
#btnLogout {
    cursor: pointer;
}

/* sets the distance calculation display to none */
#dist {
    display: none;
}

/* sets the duration calculation display to none */
#dura {
    display: none;
}

/* sets style and layout of the 'Get Estimate' button */
.btn-xl {
    width: 100%;
    height: 5rem;
    margin: 0 auto;
    padding: 10px 10px;
    font-size: 25pt;
    font-family: Roboto;
    word-spacing: .4em;
    font-weight: 500;
    letter-spacing: 1px;
    transform: translate(0, -40%);
    color: white;
    border: 5px double green;
    background-color: green;
}

/* changes background color of the 'Get Estimate' button when hovered over */
.btn-xl:hover{
    background-color: #78d390;
}

/* changes anchor elements to block display */
a {
    display: block;
}

 /* mediaquery for when max width is 720px */
@media (max-width:720px){
    
    /* reduces size of button text for 'Get Estimate' */
    .btn-xl{
        font-size: 20pt;
        font-weight: 400;
        width: fit-content;
    }
}
 /* mediaquery for when max width is 520px */
@media (max-width:520px){

    /* reduces size of button text for 'Get Estimate' */
    .btn-xl{
        font-size: 12pt;
        font-weight: 100;
        width: fit-content;
    }
}