@import url('https://fonts.googleapis.com/css?family=Monoton');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #33a852;
    color: black;
    border-radius: 0px 0px 4px 4px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, .5);
}

.brand-title {
    font-size: 2.7rem;
    margin: .5rem;
    font-family: 'Monoton', cursive;
    color: white;
    letter-spacing: 4px;
    text-decoration: none;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0 2vw;
    padding: 0;
}

#btnLogout:hover{
    background-image: linear-gradient(rgba(25, 102, 38, 0.986), #33a852);
    border-radius: 0px 0px 15px 15px;
    border: 0px double rgb(0, 0, 0, .2);
    cursor: pointer;
}
.navbar-links li {
    font-size: 1.1rem;
    list-style: none;
    margin: 1vw;
}

.navbar-links li a {
    display: inline-block;
    text-decoration: none;
    color: black;
}

.fa {
    margin: 0.75rem;
}

.navbar-links li:hover {
    background-image: linear-gradient(rgba(25, 102, 38, 0.986), #33a852);
    border-radius: 0px 0px 15px 15px;
    border: 0px double rgb(0, 0, 0, .2);
    cursor: pointer;
}

.toggle-button {
    position: absolute;
    top: 2rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 30px;
}

.toggle-button .bar {
    height: 4px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

.toggle-button:hover {
    border: 4px double rgb(0, 0, 0, .2);
}

@media (max-width: 880px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}
/* Resolution for extremely small devices */
@media (max-width: 350px){
    .brand-title {
        font-size: 2rem;
        margin: .3rem;
        font-family: 'Monoton', cursive;
        color: white;
        letter-spacing: 3px;
    }

    .toggle-button {
        top: 1.5rem;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

#footer {
    display: flex;
    width: 100%;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, .5);
    padding-top: 10px;
    justify-content: center;
    color: black;
    background-color: #33a852;
    height: 50px;
    position: fixed;
    bottom: 0;
    font-size: 10pt;
}

#blackout {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#box {
    width: 300px;
    height: 50px;
    text-align: center;
    padding: 15px;
    border: 3px solid #0000cc;
    border-radius: 10px;
    color: #0000cc;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #fff;
}

#blackout:target {
    display: block;
}

.close {
    display: inline-block;
    border: 1px solid #0000cc;
    color: #0000cc;
    padding: 0 12px;
    margin: 10px;
    text-decoration: none;
    background: #f2f2f2;
    font-size: 14pt;
    cursor: pointer;
}

.close:hover {
    background: #e6e6ff;
}