@import url('https://fonts.googleapis.com/css?family=Monoton');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to top, hsla(130, 61%, 71%, 0.986), #1DD73C);
    color: black;
    border-radius: 0px 0px 4px 4px;
}

.brand-title {
    font-size: 2.5rem;
    margin: .5rem;
    font-family: 'Monoton', cursive;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0 2vw;
    padding: 0;
}

.navbar-links li {
    font-size: 1rem;
    list-style: none;
    margin: 1vw;
}

.navbar-links li a {
    display: inline-block;
    text-decoration: none;
    color: #FEC10B;
}

.fa{
    margin: 0.75rem;
}

.navbar-links li:hover {
    background-image: linear-gradient(to top, rgb(0,0,0,.5), #1DD73C);
    border-radius: 0px 0px 12px 12px;
    border: 2px double rgb(0,0,0,.2);
}

.toggle-button {
    position: absolute;
    top: 2rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #FEC10B;
    border-radius: 10px;
}

.toggle-button .bar:hover{
    background-image: linear-gradient(to top, rgb(0,0,0,.5), #1DD73C);
    border: 4px double rgb(0,0,0,.2);
}

@media (max-width: 850px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

#footer{
    display: flex;
    width: 100%;
    padding-top: 10px;
    justify-content: center;
    color: black;
    background-image: linear-gradient(hsla(130, 61%, 71%, 0.986), #1DD73C);
    height: 50px;
    position: fixed;
    bottom: 0;
    font-size: 10pt;
}
