/* sets background color and sets page to fill screen while also centering text */
#profile {
    background-color: #e8f6e8;
    margin: auto 0;
    font-size: 25px;
    padding: 1em;
    text-align: center;
}

/* sets the style for the User Profile's previous searches */
#Searches {
    margin: auto 10%;
    text-align: left;
    margin: 20px;
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
}

/* centers the header text of each previous trip */
.trip h4 {
    text-align: center;
}

/* changes background color of previous trips and adds a border and padding */
.trip{
    padding: 10px;
    background: whitesmoke;
    border: 5px solid #c1c1c1;
    border-radius: 15px;
}

/* Display below 720px of width */
@media (max-width: 720px) {
    #profile {
        margin: auto 0;
    }

    /* reduces from 3 columns to 1 and also reduces margin */
    #Searches {
        margin: auto 5%;
        grid-template-columns: 1fr;
    }
}