@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Dosis');

.contain1{
    margin: 2% 10%;
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
}

.contain2{
    background-image: url(../images/Company-background.jpg);
    background-repeat: repeat-y;
    margin-bottom: 5em;
}

.reenter{
    margin: 10px;
    font-size: 25px;
    background-color: white;
}

.background-image {
    background-image: url(../images/List-Page-Background.JPG);
    background-repeat: repeat-x;
    background-position: center;
    background-size: contain;
    height: 650px;
}

.background-color {
    text-align: center;
    height: 70%;
    background-color: white;
    opacity: 0.6;
    box-shadow: 3px 3px 15px rgb(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

#start,
#finish {
    padding: 15px 15px;
    width: 400px;
    font-size: 30px;
    margin-left: 10px;
    color: black;
    background-color: white;
    border: solid 1px grey;
    border-radius: 3px;
    font-weight: 500;
}

.contain1 p{
    font-size: 30px;
    font-weight: 500;
}

#totalDistance, #totalDuration{
    margin-left: 5px;
    width: 100px;
    font-size: 30px;
    font-weight: 500;
}

.listOpt p {
    text-align: center;
    font-size: 25px;
}

#list {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-gap: 10%;
}

#list div {
    border: 7px solid whitesmoke;
}

#uber-color{
    margin: 0px;
    text-align: left;
    background-color: blue;
    width: 100%;
    font-size: 12px;
    padding: 0px;
}

#lyft-color{
    margin: 0px;
    text-align: left;
    background-color: palevioletred;
    width: 100%;
    font-size: 12px;
    padding: 0px;
}

#evo-color{
    margin: 0px;
    text-align: left;
    background-color: gold;
    width: 100%;
    font-size: 12px;
    padding: 0px;
}

#modo-color{
    margin: 0px;
    text-align: left;
    background-color: plum;
    width: 100%;
    font-size: 12px;
    padding: 0px;
}

.listOpt {
    padding: 10px;
}

.listOpt p img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
}

.listOpt p button {
    width: fit-content;
}

.listOpt {
    display: grid;
    border-radius: 20px;
    grid-template-rows: 0.25fr 1fr 0.5fr 0.5fr 0.5fr;
    border-color: white;
}

.end-links{
    display: flex;
    justify-content: space-evenly;
}

.end-links a{
    font-size: 20px;
}

.end-button{
    background-color: #38b48b;
    font-size: 25px;
}
.end-button:hover {
    color: white;
    background-color: turquoise;
}

@media (max-width: 910px) {
    #list {
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 10px;
    }

    #full-screen-text{
        display:none;
    }

    .contain1 {
        display: flex;
        flex-direction: column;
    }

    .background-image {
        background-size: cover;
        background-repeat: repeat-x;
        background-position: center;
        height: 500px;
    }

    #start,
    #finish {
        padding: 10px 10px;
        width: 200px;
        font-size: 15px;
        margin-left: 8px;
        color: black;
        background-color: white;
        border: solid 1px grey;
        border-radius: 3px;
        font-weight: 300;
    }
    
    .contain1 p{
        font-size: 15px;
    }
    
    #totalDistance, #totalDuration{
        margin-left: 5px;
        width: 60px;
        font-size: 15px;
    }


}
