.fa-star {
    font-size: 2rem;
    cursor: pointer;
    margin: 0px;
  }

  .form-control{
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  #contents{
    background-color: #e8f6e8;
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, .5);
  }

  #reviewTitle{
    margin-left: 1rem;
  }

  #reviewContent{
    height: 10rem;
    border: 1px solid rgba(0, 0, 0, .5);
    margin-left: 1rem;
  }

  h2 {
    margin-left: 1rem;
  }
  
  label {
    margin-left: 1rem;
  }

  button {
    margin-left: 1rem;
    
  }
  button:hover{
    color:  #33a852;
  }

  #divRender{
    margin-left: 1rem;
  }

  .form-control{
    width: 95%;
  }

  #spacer{
    background-color: #33a852;
    opacity: .7;
    height: 1px;
    margin-left: 1rem;
  }

  #existingDetailsInput {
    margin: 1rem 0 1rem 1rem;
  }

  #existingDetailsInput + div {
    margin-left: 1rem;
  }

  #newDetailsInput {
    margin: 1rem 0 1rem 1rem;
  }

  i {
    margin-left: 1rem;
  }